.mat-form-field {
    display: block;
}
.numberfield {
    display: flex;
    flex-wrap: wrap;
    > div {
        display: flex;
        align-items: center;
        margin-top: 15px;
        span {
            width: 35px;
        }
        input {
            
        }
        
    }
    button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}